<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2026-03-20T10:43:44.2081480-07:00</FirstRunDate>
  <Version>3</Version>
  <DeviceListAsTextOnly>false</DeviceListAsTextOnly>
  <FormStates>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AdvancedProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>398</Width>
        <Height>468</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AutoSaveSettingsForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>346</Width>
        <Height>408</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>PlaceholdersForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>BatchScanForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>392</Width>
        <Height>355</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>MacDesktopForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <LastPdfOrImageExt>pdf</LastPdfOrImageExt>
  <BatchSettings>
    <ProfileDisplayName>Brother Scanner</ProfileDisplayName>
    <ScanType>MultipleWithPrompt</ScanType>
    <OutputType>SingleFile</OutputType>
    <SaveSeparator>FilePerPage</SaveSeparator>
    <SavePath>/Users/superhighfives/output.pdf</SavePath>
  </BatchSettings>
</UserConfig>